h1,h2, h3{
    font-family: 'Times New Roman', Times, serif;
}

header {}

nav {}

nav.navbar {
    position: fixed;
    top: 0;
    padding: 0;
    border-bottom: rgba(255, 255, 255, .1) solid 1px;
    z-index: 5;
    width: 100%;
}

.navbar-light a.nav-link {
    color: gray !important;
}

header .navbar-nav li.nav-item {
    padding: 20px;
}

header .navbar-nav li.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

header .carousel-inner .btn-dark {
    background-color: unset;
}

header .carousel-inner .btn-dark:hover {
    background-color: white;
    color: black;
}

header .navbar-dark .darklogo {
    display: none;
}

header .bg-white .darklogo {
    display: block;
}

header .navbar-dark .whitelogo {
    display: block;
}

header .bg-white .whitelogo {
    display: none;
}

#cards {
    padding-top: 2em;
}
#cards span {
    display: block;
    color: gray;
    margin: 28px auto;
}
#cards .card {
    width: 32%;
}

#cards .card-body i {
    font-size: 3em;
}
#cards .btn-light:hover{
    background-color: #002633;
    color: white;
}
.heroes {
    color: red;
    font-size: 1.8em;
}
#imagensola p {
    margin-left: 5em;    
}
#imagensola i {

    font-size: 1.5em;
    width: 1.5em;
}
#ourstats h3 {
    font-size: 3em;
}
#galeria .image{
    position: relative;
    text-align: center;
}
#galeria a{
    position: absolute;
    top:50px;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: red;
    opacity: 0;
    transition-duration: .5s;
    padding: 25px;
}
#galeria a:hover{
    opacity: 1;
    top:0;

}
#galeria img{
        width: 100%;
        height: auto;
}
footer{
    background-color: #002633;
    color: #678c78;
}
h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em;
    padding-top: 3em;
    padding-bottom: 1em;
}
h2::after {
    content: "";
    background-color: red;
    display: block;
    width: 5%;
    margin: .5em auto 0px;
    height: 2px;
}