h1,
h2,
h3,
.contact {
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none!important;
}
header {}

nav {}

nav.navbar {
    position: fixed;
    top: 0;
    padding: 0;
    border-bottom: rgba(255, 255, 255, .1) solid 1px;
    z-index: 100;
    width: 100%;
}

.navbar-light a.nav-link {
    color: gray !important;
}

.navbar-light .navbar-toggler {
    color: #002633;

}

.bg-black {
    background-color: black;
}

header .navbar-nav li.nav-item {
    padding: 20px;
}

header .navbar-nav li.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

header .carousel-inner .btn-dark {
    background-color: unset;
}

header .carousel-inner .btn-dark:hover {
    background-color: white;
    color: black;
}

header .navbar-dark .darklogo {
    display: none;
}

header .bg-white .darklogo {
    display: block;
}

header .navbar-dark .whitelogo {
    display: block;
}

header .bg-white .whitelogo {
    display: none;
}

#cards {
    padding-top: 2em;
}

#cards span {
    display: block;
    color: gray;
    margin: 28px auto;
}

#cards .card {
    width: 32%;
}

#cards .card-body i {
    font-size: 3em;
}

#cards .btn-light:hover {
    background-color: #002633;
    color: white;
}

.heroes {
    color:#C81010;
    font-size: 1.8em;
}

#imagensola p {
    margin-left: 5em;
}

#imagensola i {

    font-size: 1.5em;
    width: 1.5em;
    color: #002633;
}

#ourstats h3 {
    font-size: 3em;
}

#galeria .image {
    position: relative;
    text-align: center;
}

#galeria a {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color:#C81010;
    opacity: 0;
    transition-duration: .5s;
    padding: 25px;
}

#galeria a:hover {
    opacity: 1;
    top: 0;

}

#galeria img {
    width: 100%;
    height: auto;
}

#ourwork .btn-danger {
    background-color: white;
    color: black;
    padding: 10px 30px;
    margin: 10px 10px;
}

#ourwork .btn-danger:hover,
#ourwork .btn-danger.active {
    background-color:#C81010;
    color: white;
}

.contact {
    background-color:#C81010;
    color: white;
    font-size: 2em;
    padding: 20px;
}

footer {
    background-color: #002633;
    color: #678c78;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em;
    padding-top: 3em;
    padding-bottom: 1em;
}

h2::after {
    content: "";
    background-color:#C81010;
    display: block;
    width: 5%;
    margin: .5em auto 0px;
    height: 2px;
}


footer i {
    color:#C81010;
    font-size: 2em;
    margin-right: .5em;
    position: absolute;
    left: 10px;
}

.address {
    position: relative;
}

.line {
    margin-top: 3em;
}

.pie {
    font-size: .7em;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: #507569 thin solid;
}
#testimonials .carousel-indicators li {
    background-color: gray!important;
}
div#carouselExampleIndicators2 {
    padding-bottom: 50px;
}
.image{
    overflow: hidden;
}
.image img {
    transition-duration: .5s;
}
.image:hover img {
    transform: scale(1.25);
    overflow: hidden;
}

.nav-tabs {
    display: -webkit-inline-box;
    border-bottom: none;
}

.active {
    display: flex!important;
}

@media (min-width: 320px) and (max-width: 767px) {
    #cards .card {
        width: 100%;
    }

    .btn-group {
        flex-direction: column;
        width: 100%;
    }

    header .carousel-item img {
        height: 30em;
        object-fit: cover;
    }

    .navbar-toggler {
        margin: auto
    }
    nav.navbar {
        position: unset; 
    }
    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
        color: #000;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #444444;
    }
    header .navbar-dark .whitelogo{
        display: none;
    }
    header .navbar-dark .darklogo {
        display: block;
    }
    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .text-right {
        border-top: none;
    }
}

